<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Submit Your Receipt</title>
</head>


<body>

    <header>
        <div class="header-container">
            <div class="logo-container">
                <div class="logo">
                <div class="logo-part logo-short-arrow"></div>
                <div class="logo-part logo-long-arrow"></div>
                <div class="logo-part logo-base"></div>
                <div class="logo-part logo-short-arrow"></div>
                </div>
            </div>
            <div class="menu-container">
                <a class="menu-item" href="https://github.com/Andrii-STV/">My Github</a>
                <a class="menu-item" href="mailto:stavnichenkoa2000@gmail.com" >Reach Me</a>
            </div>
        
        </div>  
    </header>