<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/submit-vat" method="post">
        <label for="vat-number">Insert VAT number</label>
        <input type="text" id="vat-number" name="vatnumber">
        <button type="submit" value="POST">Submit</button>
    </form>

    <p><%= content %></p>
    <% if (locals.address) { %>
        <p><%= address %></p>
    <% } %>


    <form action="/extract" method="post">
        <button type="submit" value="post">Create Extraction</button>
        <br><br>
    </form>

    <form action="/uploadFiles" method="post" enctype="multipart/form-data" style="padding:24px; background-color: aliceblue; border: 1px dashed #111; border-radius: 24px; width: 400px;">
        <label for="file">File</label>
        <input id="file" name="file" type="file">
        <br><br>
        <button>Upload</button>
    </form>
    
</body>
</html>