:root {
  --dark: #171717;
  --accent-pink: #FF355B;
  --white: #FFFFFF;
}


html, * {
  padding: 0;
  margin: 0;
  /* max-width: 100vw; */
  /* max-width: 100%; */
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}

body, html {
  overflow-x: hidden;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}



/*Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
  width: 100%;
  padding: 24px 0px;
  background-color: var(--dark);
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  min-width: 75%;
  justify-content: flex-end;
}

.menu-item {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--white);
  background-color: #ffffff00;
  max-width: 100%;
  text-decoration: none;
  text-align: center;
}

.menu-item:hover {
  color: var(--accent-pink);
}

.logo-container {
  position: relative;
  width: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 40px;

}

.logo-part {
  background-color: var(--accent-pink);
}

.logo-short-arrow {
  height:40px;
  width: 8px;
}

.logo-long-arrow {
  height: 58px;
  width: 9px;
  margin-bottom: -9px;
}

.logo-base {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*End of Header*/


.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-container {
    width: 1200px;
    padding: 120px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.hero-content {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.hero-image {
    width: 40%;
    flex-grow: 1;
}

.primary-button {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--accent-pink);
    padding: 16px 32px;
    border-radius: 16px;
    transition: .3s ease;
    text-align: center;
    cursor: pointer;
    border: none;
}

.secondary-button {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--accent-pink);
    padding: 12px 24px;
    border-radius: 16px;
    transition: .3s ease;
    text-align: center;
    border: none;
    cursor: pointer;

    margin-top: 24px;
}

.primary-button:hover {
    background-color: #D31236;
}

.secondary-button:hover {
    background-color: #D31236;
}

.body-container {
    width: 1200px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 80px;
}

ol {
    margin-left: 24px;
    margin-bottom: 32px;
}

.example-receipt-content {
    margin-top: 32px;
}

.img-icon {
    width: 24px;
}

.results-container {
    min-width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.result-image {
    width: 35%;
    flex-grow: 1;
}

.rendered-image {
    object-fit: contain;
    height: 400px;
    border-radius: 16px;
}



.tables {
    width: 50%;
    flex-grow: 1;
}


.result-table {
    width: 600px;
    background-color: rgba(255, 53, 91, 0.1);
    padding: 24px; border-radius: 16px;
    border: 1px solid var(--accent-pink);
    margin-bottom: 16px;
}

.query-results-heading {
    margin-top: 40px;
    margin-bottom: 24px;
}

/*Footer*/

footer {
  background-color: var(--dark);
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-wrapper {
  width: 1200px;
  padding: 24px 40px;
}

.footer-wrapper p {
  color: var(--white);
}



/* Draggable box */
    #dragBox {
        margin-top: 24px;
        width: 120px;
        height: 40px;
        background-color: var(--white);
        color: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: grab;
        user-select: none;
        font-weight: bold;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px 4px;
        padding: 12px 24px;
    }

    /* Drop zone */
    #dropZone {
        max-width: max-content;
        height: 160px;
        border: 2px dashed var(--dark);
        border-radius: 16px;
        background-color: rgba(255, 53, 91, 0.1);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        transition: 0.15s;
        margin-top: 8px;
        padding: 24px;
    }

    #dropZone.dragging {
        border-color: var(--accent-pink);
    }

    #loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 9999;
    }

    .spinner {
        width: 70px;
        height: 70px;
        border: 8px solid #ddd;
        border-top: 8px solid var(--accent-pink);
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-bottom: 16px;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }





/* TABLET */
@media only screen and (max-width: 1023px) {

    .hero-container {
        gap: 32px;
    }

    .body-container {
        min-width: calc(100% - 80px);
    }

}

/* MOBILE */
@media only screen and (max-width: 600px) {
  
  .header-container {
    width: 100%;
    padding: 0px 40px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .menu-container {
    min-width: max-content;
    max-width: 100%;
    justify-content: flex-end;
    gap: 16px;
  }

  .menu-item {
    font-size: 14px;
  }


  /* .logo-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
  } */

  .hero-image {
    display: none;
  }

}